#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex; /* In order to create the two-column layout */
    align-items: center; /* Vertically centering the content in each column */
    max-width: 1200px; /* Max width for your content */
    width: 90%; /* Use 90% of the screen width */
    gap: 40px; /* Space between the columns */
}

.about-image {
    flex-basis: 35%; /* Image column takes up 35% of the space */
}

.about-image img {
    width: 100%; /* Image should fill its container */   
    border-radius: 30px;
}

.about-text {
    flex-basis: 65%; /* Text column takes up 65% of the space */
}

.about-text h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ddd;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #aaa;
    margin-bottom: 20px;
}



.skills-tabs {
    margin-top: 40px;
}

.tab-titles {
    display: flex; /* Display the tab titles horizontally */
    margin-bottom: 10px;
}

.tab-link {
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #aaa; /* Default color for inactive tabs */
    cursor: pointer;
    position: relative; /* Needed for the underline effect (Same as header underline animation) */
    transition: color 0.3s;
}

.tab-link:hover {
    color: #fff; /* Brighten text colour on hover */
}

/* Underline effect */
.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #ff004f, #4743EF);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.4s;
}

.tab-link.active-link::after {
    width: 100%;
}

.tab-link.active-link {
    color: #fff;
}

.tab-content {
    display: none; /* Initally, all tab content is hidden */
}

.tab-content ul {
    list-style: none;
    padding: 0;
}

.tab-content ul li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #aaa;
}

.tab-content ul li span {
    color: #ff004f;
    font-size: 1.2rem;
    font-weight: 600;
}

.tab-content.active-tab {
    display: block; /* Changing the display from 'none' to 'block' for only the active-tab so that its content will be visible */
}