#certifications {
    padding: 80px 0;
}

#certifications h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #ddd;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.filter-btn {
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: 600;
    color: #aaa;
    background: #1a1a1a;
    border: 2px solid #222;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.filter-btn:hover {
    color: #fff;
    background: #222;
}

.filter-btn.active {
    color: #fff;
    background: linear-gradient(to right, #ff004f, #4743EF);
}


.cert-item {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 350px; /* Each card starts at 350px wide */
    flex-grow: 1; /* Each card can grow to fill empty space */
    max-width: 500px; /* But each card can never be wider than 500px */
}

/* To hide the filtered-out cards */
.cert-item.hide {
    display: none;
}

.certifications-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    gap: 20px;
}

.cert-item {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cert-item:hover {
    background: #222;
    transform: translateY(-5px);
}

.cert-item h3 {
    font-size: 1.3rem;
    color: #ff004f;
    margin-bottom: 10px;
}

.cert-item p {
    font-size: 1rem;
    color: #aaa;
    margin: 0;
}