#contact {
    padding: 80px 0 40px;
}

#contact h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #ddd;
}

.contact-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-icon {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    color: #aaa;
    margin-bottom: 20px;
}

.contact-icon svg {
    width: 24px;
    height: 24px;
    color: #ff004f;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #aaa;
    background: #222;
    border-radius: 50%;
    transition: all 0.3s;

    /* Centering the SVG icons */
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a:hover {
    background: #ff004f;
    color: #fff;
    transform: translateY(-3px);
}

.social-links a svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.btn-download-cv {
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: #ff004f;
    padding: 12px 25px;
    border-radius: 50px;
    transition: background 0.3s;
}

.btn-download-cv:hover {
    background: #a70035;
}

.contact-right {
    flex-basis: 870px;
    max-width: 100%;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 15px;
    background: #222;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

.contact-right textarea {
    resize: vertical;
}

.btn-submit {
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    background: #ff004f;
    padding: 12px 25px;
    border-radius: 50px;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.btn-submit:hover {
    background: #a70035;
}