footer {
    padding: 20px 0;
    background-color: #111;
    margin-top: 40px;
    width: 100%;
}

.footer-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.copyright-text {
    font-size: 0.9rem;
    color: #aaa;
    margin: 0;
}

/* The following syntax will only run when screen size is less than 768px (Mobile screens) */
@media (max-width: 768px) {
    footer {
        padding: 20px 0;
        margin-top: 20px;
    }

    .copyright-text {
        font-size: 0.85rem;
    }
}