@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0; /* Removing default browser margin */
    padding: 0; /* Removing default browser padding */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Animate the scroll movement when navigating to an anchored position in the same webpage*/
}

body {
    background-color: #080808;
    color: white;
}

section {
    height: 100vh; /* Makes each section fill the entire screen. Will need to change this later when I have added content */
    padding: 60px 20px 20px 20px;
    scroll-margin-top: 10px;
}