html {
    scroll-behavior: smooth; /* Animate the scroll movement when navigating to an anchored position in the same webpage*/
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Removing default browser margin */
    padding: 0; /* Removing default browser padding */
    box-sizing: border-box;
    background-color: #080808;
    color: white;
}

section {
    height: 100vh; /* Makes each section fill the entire screen. Will need to change this later when I have added content */
    padding: 60px 20px 20px 20px;
    box-sizing: border-box;
    scroll-margin-top: 10px;
}