@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0; /* Removing default browser margin */
    padding: 0; /* Removing default browser padding */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Animate the scroll movement when navigating to an anchored position in the same webpage*/
}

body {
    background-color: #080808;
    color: white;
}

section {
    padding: 60px 20px 20px 20px;
    scroll-margin-top: 10px;
}

/* --- Back to Top Button --- */
.back-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    background: #4743EF;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s, background 0.3s;
}

.back-to-top-btn svg {
    width: 24px;
    height: 24px;
    stroke: #fff;
}

.back-to-top-btn.visible {
    opacity: 1;
    pointer-events: auto;
}

.back-to-top-btn:hover {
    background: #3a37c8;
    transform: translateY(-3px);
}