.header {
    background-color: black;
    padding: 10px 20px;
    position: sticky; /* Makes the nav bar stick to the top when you scroll down. Similar to position: fixed; */
    top: 0; /* Header will stick to the top of viewport */
    z-index: 100; /* Ensures it stays on top of other content */
}

.header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Removes the bullet points */
    display: flex; /* Makes the header a horizontal list, instead of vertical */
    justify-content: center;
    gap: 20px; /* Adding space between each item in header */
}

.header nav ul li a {
    color: white;
    text-decoration: none; /* Removes the underline from links (Since all the elements in the header are essentially links to other sections on this webpage */
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.header nav ul li a:hover {
    color: #007bff;
    /* Changes color when you hover */
}