#work-experience {
    padding: 80px 0;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto; /* Having left and right margin set to "auto" means that the container will be centered horizontally */
}

#work-experience h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px; /* Space below the title */
    color: #ddd;
}

.experience-list {
    display: grid;
    grid-template-columns: 1fr; /* A single column */
    gap: 30px; /* Space between each job card */
}

.experience-item {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
}

.experience-item:hover {
    background: #222; /* Making the background slightly lighter when you hover over the element */
    transform: translateY(-5px); /* Lifting the element by 5 pixels when you hover over it */
}

.experience-item h3 {
    font-size: 1.8rem;
    color: #ff004f;
    margin-bottom: 10px;
}

.company-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allows dates to wrap underneath if display is small or screen window is shrunk */
    gap: 10px;
}

.company-info h4 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}

.company-info span {
    font-size: 1rem;
    color: #fff;
    font-style: italic;
}

.experience-item ul {
    list-style-type: disc; /* Regular bullet points */
    padding-left: 20px;
    margin-top: 20px;
}

.experience-item ul li {
    font-size: 1rem;
    color: #aaa;
    line-height: 1.7;
    margin-bottom: 10px;
}

.experience-item .project-description,
.experience-item .project-aim {
    font-size: 1rem;
    color: #aaa;
    line-height: 1.7;
    margin-bottom: 20px;
    font-style: italic;
}